// Definitions is a separate repository for manage after v3 !
// Compile this repository pulled from GitHub will not work properly, 
// you can send private message to author if you have any questions.
Definition